<h2>Create an account for your Animal</h2> 

<form action="/animalForm" method="POST">
    <label for="Petname">Pet Name</label>
    <input type="text" name="petName" placeholder=" e.g Fluffy Jones"/>
    <label for="typeOf">Type</label>
    <input type="text" name="typeOf" placeholder="e.g cat"/>
    <label for="breed">Breed</label>
    <input type="text" name="breed" placeholder="eg tortoise shell"/>
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" placeholder="12/06/2010"/>
    <input type="submit" value="Submit">
</form>

{{err}}