<h1 class={{pokemon}}>Pick a pokemon</h1>
<form action="/pokemon" method="post">
    <input type="text" name="pokemon">
    <input type="submit" value="submit">
</form>

<p>You have requested {{pokemon}}</p>
<ul>
    <li>Name : {{data.name}}</li>
    <li>Weight : {{data.weight}}kg</li>
</ul>